* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
}

body {
    background-color: rgb(231, 233, 235);
}

.container {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 32px;
}

button {
    font-size: 1.5rem;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: #091F57;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0e2f81;
}

button:active {
    background-color: #1441b3;
}

input {
    font-size: 2rem;
    width: 152px;
    text-align: center;
    font-weight: bold;
    margin: 16px 0;
}

img {
    width: 142px;
    margin: 8px 16px;
}

#diceResult {
    margin: 16px 0;
}